body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh; /* Ensure the body takes up full viewport height */
    flex-direction: column;
    background-color: black;
}

.content {
    flex: 1; /* Ensures the content takes up available space */
    overflow: auto; /* Allows the content to be scrollable */
}

.image {
    width: 80vw;
    height: auto; /* Maintain aspect ratio */
    position: relative; /* Position the image */
    bottom: 0%; /* Move the image up so the top hangs out of the square */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, 0); /* Adjust for centering */
    object-fit: cover; /* Cover the height while maintaining aspect ratio */
    z-index: 0; /* Ensure the image is above the square */
}

.banner-text {
    font-size: 5vw; /* Adjust font size relative to viewport width */
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto 20px;
}

.movie-title {
    
}

.movie-summary {
    color: white; /* Text color */
    padding: 2px 8px; /* Padding for space around the text */
    border-radius: 12px; /* Rounded corners */
    text-align: left; /* Center the text */
    margin: 10px auto; /* Center the summary and add space above */
    width: 90%; /* Use 90% of the screen width */
    box-sizing: border-box; /* Include padding in width */
    padding: 5px 10px;
}

.cbfc-info-container {
    padding-top: 20px;
    display: flex; /* Use flexbox to align items in a row */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align items vertically */
    margin: 20px 20px; /* Space above and below the container */
}

.cbfc-box {
    border: 2px solid crimson; /* Border color for the box */
    color: white; /* Text color */
    padding: 5px 10px; /* Padding for space around the text */
    border-radius: 5px; /* Rounded corners */
    margin-right: 10px; /* Space between box and info text */
    background-color: transparent; /* Ensure the background is transparent */
}

.cbfc-info {
    color: white; /* Text color for the info */
  }

.content {
    min-height: calc(100vh - 60px); /* Adjust this based on the footer height */
    padding-bottom: 60px; /* Adjust this based on the footer height */
}

.more {
    font-size: 1em; /* Adjust font size relative to viewport width */
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    text-align: right;
    margin: 10px auto 20px;
    padding-right: 50px;
    padding-bottom: 100px;
}
a {
    text-decoration: none;
}

rectangle {
    width: 95vw;
    height: 25vh;
    background: radial-gradient(circle at top left, black, crimson);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: 6em;
  margin: 10px auto 10px;
  border-radius: 15px;
}
.action {
  color: white;
  font-weight: bold;
    padding-left: 20px;
    font-size: 1.2em;
    padding-bottom: 10px;
    padding-top: 10px;
}

.action-movies {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents items from wrapping to the next line */
    width: 95%; /* Adjusts the width of the container */
    margin: 0 auto; /* Centers the container horizontally */
}

.movie1 {
    width: 35vw;
    height: 12vh;
    background: radial-gradient(circle at top left, black, crimson);
    background-size: contain;
    border-radius: 15px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.movie2 {
    width: 35vw;
    height: 12vh;
    background: radial-gradient(circle at top left, black, crimson);
    border-radius: 15px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.movie3 {
    width: 35vw;
    height: 12vh;
    background: radial-gradient(circle at top left, black, crimson);
    border-radius: 15px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.movie4 {
    width: 35vw;
    height: 12vh;
    background: radial-gradient(circle at top left, black, crimson);
    border-radius: 15px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.movie5 {
    width: 35vw;
    height: 12vh;
    background: radial-gradient(circle at top left, black, crimson);
    border-radius: 15px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.movie6 {
    width: 35vw;
    height: 12vh;
    background: radial-gradient(circle at top left, black, crimson);
    border-radius: 15px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.movie7 {
    width: 35vw;
    height: 12vh;
    background: radial-gradient(circle at top left, black, crimson);
    border-radius: 15px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.movie8 {
    width: 35vw;
    height: 12vh;
    background: radial-gradient(circle at top left, black, crimson);
    border-radius: 15px;
    flex: 0 0 auto;
}

.movie-png {
    max-width: 70%;
    max-height: 70%;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translate(22.5% , -50%)
}

.language1 {
    width: 35%;
    height: 12vh;
    background: radial-gradient(circle at top left, black, crimson);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: 1.5em;
    margin: 10px auto 10px;
    border-radius: 15px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 10vh; /* Adjust this based on your footer height */
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.footer-btn {
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.footer-btn:hover {
    background-color: white;
    color: black;
}

